

<div style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin: 20px 0; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);">
	<h2 style="margin: 0 0 10px;"> {{frappe.db.get_value("Airplane" ,doc.airplane, "airline")}}</h2>

	<p style="font-size: 1.2em; margin: 0 0 10px;">
		{{ doc.source_airport_code }} ➝{{ doc.destination_airport_code }}
	</p>

	<p style="margin: 0 0 10px;">
		{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, yyyy") }} |
		{{ doc.time_of_departure }} |
		{{ frappe.utils.format_duration(doc.duration) }}
	</p>

	<a href="/{{ doc.route }}"style="color: #007bff;">
		View Flight
	</a>
</div>